<div class="container">
  <div class="row">
    <h1 class=""><br/><strong>COMUNIDADE TERAPÊUTICA</strong></h1>

    <div class="container">
      <div class="row">

        <h2>
          História
        </h2>

        <div class="paragrafo">

          <br/>
          <h3> <strong>
            CENTRO DE RECUPERAÇÃO "DONA GENY JÚLIA FEIJÓ" DESDE 1996 - (ATIVIDADES PARALISADAS EM 31/03/2018)
          </strong> </h3>

          <p>
            A Comunidade Terapêutica “Dona Geny Julia Feijó” foi implantada em 22 de Junho de 1996 no município de Biguaçu, com 28 hectares  (280.000 m²) de terra, sendo mais um Projeto da CVM, Creche Vinde a Mim as Criancinhas. Destinada a abrigar e recuperar crianças a partir de 12 anos, adolescentes e adultos dependentes químicos de álcool e drogas.
          </p>

          <p>
            A Comunidade Terapêutica tem capacidade para abrigar 44 internos, exclusivamente do sexo masculino. O período de internação é de nove meses, tempo em que um feto leva para se desenvolver e então vir ao mundo assim também são eles, é o tempo para serem preparados e “nascerem novamente” para uma vida digna e saudável.
          </p>

          <p>
            O processo de recuperação está focado nos seguintes tópicos: Atividades Educacionais, Atividades Religiosas e Atendimento Psicológico.
          </p>

          <br/>
          <h3> <strong>
            Nosso objetivo
          </strong> </h3>

          <p>
            O objetivo da Comunidade Terapêutica é resgatar esses internos para uma vida sadia, mas para que isso ocorra é necessário um conjunto de atividades há serem realizadas. Em primeiro lugar é necessário o querer do próprio interno, pois terá uma equipe altamente qualificada para ajudá-lo a superar essa fase, mas nada se pode fazer sozinho.
          </p>

          <br/>
          <h3> <strong>
            A Comunidade Terapêutica dispõe de profissionais como Psicóloga, Assistente Social e Pedagoga e são realizadas atividades como:
          </strong> </h3>

          <p>
            1.   Oficina de Informática; <br>
            2.   Pintura; <br>
            3.   Argila; <br>
            4.   Música; <br>
            5.   Futebol; <br>
            6.   Ginástica; <br>
            7.   Escolarização; <br>
            8.   Panificação; <br>
            9.   Consultas com Psicólogo; <br>
            10. Estudo da Palavra de Deus, entre outros.
          </p>

          <p>
            Muitos desses internos encontram-se nessa situação precária, devido principalmente a falta de uma estrutura familiar. Procuram na rua uma forma de se alimentarem ou preencherem o tempo. Sem uma estrutura psicológica para enfrentar os problemas do mundo, se envolvem com as drogas e muitas vezes com o crime.
          </p>

          <p>
            A partir daí as amizades normalmente serão com pessoas que estão na mesma situação, o que só prejudicará ainda mais.
          </p>

          <br/>
          <h3> <strong>
            Equipe Técnica
          </strong> </h3>

          <p>
            Gerente executivo Geral: Artur Feijó Neto <br>
            Administrador CRA 2456 <br>
            <br>
            Gerente Administrativo e Financeiro: Roberto Tadeu Proença <br>
            Economia Incompleto
          </p>

          <br/>
          <h3> <strong>
            Gerente Técnica:
          </strong> </h3>

          <p>
            Gerente Educacional: Geny Julia Feijó Nunes <br>
            Pedagoga <br>
            Especialização em Orientação, Supervisão e Gestão Escolar <br>
            <br>
            Gerente de Recursos Humanos: Giovana Feijó <br>
            Psicóloga CRP 12/05503 <br>
            Especialização em Neuropsicologia <br>
            Especialização em Psicodrama
          </p>

          <br/>
          <h3> <strong>
            Departamento Jurídico
          </strong> </h3>

          <p>
            André Eduardo Foppa Souza <br>
            <br>
            Advogado OAB/SC <br>
            <br>
            OBS: Quando a equipe técnica observa a necessidade na triagem e durante o tratamento é solicitado o encaminhamento para consulta médica psiquiátrica. O pagamento é feito por consulta.
          </p>

          <br/>
          <h3> <strong>
            Médico
          </strong> </h3>

          <p>
            Psiquiatra
          </p>

          <br/>
          <h3> <strong>
            Critérios de Internação
          </strong> </h3>

          <H4>
            INTERNAÇÃO VOLUTÁRIA
          </H4>

          <p>
            É caracterizada pelo consentimento e disposição do interessado para se tratar. Apresenta consciência da necessidade de tratar a dependência química. <br>
            <br>
            Esse tipo de internação tem uma influência evidente na recuperação do transtorno, desta forma tranqüiliza o interessado e a própria família.
          </p>

          <p>
            <strong>IMPORTANTE:</strong> Informamos que não recebemos nenhum indivíduo que realmente não queira o tratamento.
          </p>

          <br/>
          <h3> <strong>
            O Atendimento da Comunidade Terapêutica destina-se a residentes com as seguintes características:
          </strong> </h3>

          <p>
            a) que queiram livrar-se das drogas; <br>
            b) que apresentam condições para convivência no ambiente coletivo; <br>
            c) que apresentam motivação e aceitação do trabalho oferecido; <br>
            d) que conseguem manter-se em ambiente sem vigilância; <br>
            e) que sejam aprovados no processo de triagem; <br>
            f) que estejam dispostos a aceitar todas as orientações da Comunidade; <br>
            g) Voluntariamente, que não apresente grau de comprometimento biológico ou psíquico grave. <br>
            <br>
            Tanto a admissão como a exclusão dos residentes passa por uma avaliação da Equipe Técnica da Comunidade Terapêutica;
          </p>

          <br/>
          <h3> <strong>
            A admissão de residente na Comunidade Terapêutica é aprovada através de uma triagem conforme os seguintes critérios:
          </strong> </h3>

          <p>
            a) Avaliação médica por médico psiquiatra (obrigatória, caso não tenha possibilidade de agendar ou não tenha responsável, a responsabilidade fica para o órgão que encaminhou)  <br>
            b) Avaliação psicológica;  <br>
            c) Avaliação familiar por assistente social e /ou psicólogo;  <br>
            d) Realização de exames laboratoriais;  <br>
            e) Estabelecimento do programa terapêutico individual.  <br>
          </p>

          <br/>
          <h3> <strong>
            A admissão do residente não impõe condições de crenças religiosas ou ideológicas;
          </strong> </h3>

          <p>
            Na admissão os residentes recebem instruções e informações dos seus direitos  e dos deveres contidas no Regimento Interno a serem cumpridos durante o tratamento, explicitando sua aceitação através de um termo de compromisso. São repassadas também as regras de boa conduta para o convívio durante o atendimento;
          </p>

          <br/>
          <h3> <strong>
            No momento da admissão as famílias recebem a lista de materiais exigidos pela Comunidade, que são de uso exclusivo e individual de cada residente. A saber:
          </strong> </h3>

          <p>
            a) Bota (sele léguas);  <br>
            b) Roupa de Cama;  <br>
            c) 01 (uma) Enxada ou Rastelo;  <br>
            d) Cartão Telefônico (01 cartão por mês);  <br>
            e) Material de Higiene Pessoal (pasta de dente, sabonete, shampoo, entre outros);  <br>
            f) Material de Limpeza (sabão em pó, desinfetante, sabão em barra, entre outros);  <br>
            g) Balde;  <br>
            h) Grampo de Roupa;  <br>
            i) 01 (uma) Bíblia;  <br>
            j) Livros (01 livro no mínimo);  <br>
            k) Desodorante Roll-on  <br>
            l) Ventilador (opcional);  <br>
            m) Aparelho Repelente de Insetos (opcional);  <br>
            n) 02 (duas) Toalhas de Banho, 02 (duas) Toalhas de Rosto;  <br>
            o) 02 (dois) litros de Sabonete Liquido;  <br>
            p) 02 (dois) pacotes de Papel Toalha;  <br>
            q) 01 (uma) Vassoura.
          </p>

          <br/>
          <h3> <strong>
            Pilares do Tratamento
          </strong> </h3>

          <h3> <strong>
            Critério de Elegibilidade
          </strong> </h3>

          <p>
            É importante ressaltar que as condições de saúde do individuo e a capacidade de atendimento da instituição são os fatores decisivos para a admissão. A avaliação da situação social e familiar da pessoa também é muito importante. O grau de resistência ao tratamento (adesão) e o grau de resistência à continuidade do tratamento (manutenção) são indicadores importantes para a avaliação do comprometimento psíquico e das chances de sucesso do tratamento. Existem condições para a aceitação do individuo neste projeto, denominados de “critérios de elegibilidade”, que são baseados no grau de comprometimento do indivíduo por causa da dependência.
            <br>
            <br>
            Para o Ingresso de Programa de Tratamento da Comunidade Terapêutica é necessário:
            <br>
            <br>
            Que a pessoa queira se tratar e, portanto, deve-se respeitar o critério de voluntariedade e não discriminado por nenhum tipo de doença associada;
            <br>
            <br>
            Avaliação diagnóstica clinica e psiquiátrica, cujos dados iram constar na Ficha de Admissão.
            <br>
            <br>
            Existem diferentes dimensões  para a definição do padrão de comprometimento. Sabe-se que a dependência  pode causar efeitos em nível biológico (no organismo da pessoa), psíquico (na mente da pessoa) ou social, familiar e legal (nos laços sociais da pessoa). O comprometimento do usuário abusivo de substâncias psicoativas é o resultado desses vários níveis de comprometimento.
            <br>
            <br>
            O indivíduo que apresentar grau de comprometimento biológico ou psíquico grave não podem ser aceitadas na comunidade terapêutica devendo procurar outra instituição, pois o comprometimento mais grave requer intervenção de serviços de maior complexidade.
          </p>

          <br/>
          <h3> <strong>
            A avaliação da gravidade deve levar em conta as seguintes informações:
          </strong> </h3>

          <p>
            Comprometimento biológico;
            <br>
            <br>
            Comprometimento psicológico;
            <br>
            <br>
            Situação social, familiar e legal;
            <br>
            <br>
            Motivação para se tratar;
            <br>
            <br>
            Grau de consciência sobre o problema com as drogas;
            <br>
            <br>
            Intoxicação aguda e/ou potencial para apresentar sintomas de abstinência;
            <br>
            <br>
            Droga de Eleição;
            <br>
            <br>
            Via de uso;
            <br>
            <br>
            Sexo;
            <br>
            <br>
            Idade;
            <br>
            <br>
            Expectativas sobre o tratamento;
            <br>
            <br>
            Histórico de outros tratamentos;
            <br>
            <br>
            Nível de suporte social;
            <br>
            <br>
            Potencial para lapso/recaída;
            <br>
            <br>
            As pessoas em avaliação que apresentarem grau de comprometimento grave no âmbito orgânico e/ou psicológico não são elegíveis para tratamento nestes serviços devendo ser encaminhados a outras modalidades de atenção.
            <br>
            <br>
            Além dos critérios de elegibilidade, os pacientes, devem ter os seus direitos garantidos e respeitados pelas instituições de tratamento.
          </p>

          <br/>
          <h3> <strong>
            Procedimentos do serviço de tratamento a pessoas com transtornos decorrentes do uso ou abuso de substâncias psicoativas:
          </strong> </h3>

          <p>
            a) No processo de admissão do residente e durante o tratamento, alguns aspectos são contemplados; <br>
            b) A admissão da pessoa não deve impor condições de crenças religiosas ou ideológicas; <br>
            c) Permanência voluntária; <br>
            d) Possibilidade de interromper o tratamento a qualquer momento, resguardadas  as exceções de risco imediato de vida para si e ou para terceiros, ou intoxicação por SPA, avaliadas e documentadas por profissional médico responsável; <br>
            e) Compromisso com o sigilo segundo as normas éticas e legais garantindo-se o anonimato, qualquer divulgação de informação a respeito da pessoa, imagem ou outra modalidade de exposição só poderá ocorrer se previamente autorizada por escrito pela pessoa e familiares; <br>
            f) Respeito á pessoa, á família e á coletividade; <br>
            g) Observância do direito á cidadania do usuário de SPA; <br>
            h) Fornecimento ao usuário e seus familiares, e/ou responsável de informações e orientações dos direitos e deveres, quando da opção e adesão ao tratamento proposto; <br>
            i) Informar verbalmente e por escrito ao candidato a tratamento no serviço sobre os regulamentos e normas da instituição, devendo a pessoa a ser admitida declarar, por escrito, sua concordância; <br>
            j) Cuidados com o bem estar físico e psíquico da pessoa, proporcionando um ambiente livre de SPA e violência, resguardando o direito do serviço estabelecer as atividades relativas á espiritualidade; <br>
            k) Garantia de alimentação nutritiva, cuidados de higiene e alojamentos adequados; <br>
            l) Proibição de castigos físicos, psíquicos ou morais, respeitando a dignidade e integridade, independente da etnia, credo religioso e ideologias, nacionalidade, preferência sexual, antecedentes criminais ou situação financeira. Garantia do acompanhamento das recomendações médicas e/ou utilização de medicamentos, sob critérios previamente estabelecidos, acompanhando as devidas prescrição, ficando a cargo do Serviço a responsabilidade quanto á administração, dispensação, controle e guarda dos medicamentos; <br>
            m) Garantia do registro, no mínimo três vezes por semana, das avaliações e cuidados dispensados ás pessoas em admissão ou tratamento; <br>
            n) Responsabilidade do serviço no encaminhamento á rede de saúde, das pessoas que apresentarem intercorrências clinicas decorrentes ou associadas ao uso ou privação de SPA, como também para os casos em que apresentarem outros agravos á saúde. <br>
          </p>

          <br/>
          <h3> <strong>
            Meta de Atendimento
          </strong> </h3>

          <p>
            NESTE MOMENTO NOSSA META DE ATENDIMENTO É DE 33 (TRINTA E TRÊS) MORADORES. <br>
            <br>
            Ressaltamos que esta projeção depende de recursos para manter. As metas expostas neste plano de atendimento estão propensas a mudanças (suprimidas ou reduzidas), caso ocorra modificação nas receitas. <br>
            <br>
            Assim a instituição poderá a qualquer tempo reduzir sem qualquer comunicado ou aviso as metas previstas.
          </p>

          <br/>
          <h3> <strong>
            Meta de Atendimento
          </strong> </h3>

          <p>
            NESTE MOMENTO NOSSA META DE ATENDIMENTO É DE 33 (TRINTA E TRÊS) MORADORES. <br>
            <br>
            Ressaltamos que esta projeção depende de recursos para manter. As metas expostas neste plano de atendimento estão propensas a mudanças (suprimidas ou reduzidas), caso ocorra modificação nas receitas. <br>
            <br>
            Assim a instituição poderá a qualquer tempo reduzir sem qualquer comunicado ou aviso as metas previstas.
          </p>

          <br/>
          <h3> <strong>
            Resultado
          </strong> </h3>

          <p>

          </p>

          <br/>
          <h3> <strong>
            Depoimentos
          </strong> </h3>

          <p>
            J.L.Q.V – 43 anos (morador de rua) <br>
            <br>
            Estou a quatro meses na Comunidade Terapêutica, sou natural de Porto Alegre – RS e vim para Santa Catarina em busca de emprego. Acabei perdendo todos os meus documentos, longe da minha família e sem identidade comecei a beber, a cada dia com mais intensidade, comecei também a usar crack, sem rumo, vivia na rua e percorria os caminhos das drogas, os meus colegas de rua sempre me ofereciam pois eu não tinha como comprar. <br>
            <br>
            Logo em seguida fui internado em uma Comunidade Terapêutica, onde fiquei por dez meses. Acreditei que já estava preparado para buscar uma oportunidade de trabalho, mas a decepção foi grande, as portas se fecharam e foi aonde que voltei a beber e consequentemente, fazer uso de drogas (crack). Nesse tempo voltei para Porto Alegre, procurei auxilio da minha mãe, mas ela soube que eu estava fazendo uso de crack e pediu que eu me afastasse de sua casa. Fiquei  muito nervoso e irritado com a atitude de minha mãe, e com mais freqüência continuei a beber e usar drogas.  Mais uma vez sem rumo e sem apoio, vivi nas ruas e acabei como trexeiro até chegar novamente em Santa Catarina. Neste tempo que fiquei andando sem direção, percebi que o mundo havia ficado pequeno pra mim, sem valores, sem oportunidades e sem minha mãe. <br>
            <br>
            Fui encaminhado para a casa de apoio em Barreiros – São José e a equipe me trouxe até a Comunidade Terapêutica “Dona Geny Julia Feijó”. Comecei a entender o valor da minha vida, mudei minhas atitudes e percebi que minha mãe só queria o melhor pra mim, hoje sei da minha responsabilidade . Pretendo completar os nove meses de internação, porque preciso e acredito na minha recuperação. <br>
            <br>
            Quero mostrar principalmente para minha mãe que eu mudei, que eu quero recomeçar e que eu posso. <br>
            <br>
            Deixo minha mensagem a você usuário: <br>
            Cabe a você decidir o que fazer com sua própria vida, procure ajuda, e se você tem uma mãe como a minha, vale a pena todo sacrifício e esforço para voltar a ter uma nova vida. <br>
            <br>
            <br>
            22/06/2010
            <br>
            <br>
            J.S – 42 anos
            <br>
            <br>
            Estou há três meses na Comunidade Terapêutica. Aqui é a minha primeira internação. Vim pra cá porque fazia uso de álcool e drogas (maconha, cocaína, crack). Comecei a usar com doze anos, simplesmente por curiosidade. No primeiro momento usava maconha, cigarro e álcool. <br>
            <br>
            Em decorrência do uso destas substâncias, não consegui mais manter os meus empregos, a situação foi ficando cada dia mais difícil e a minha família não agüentou mais. Me separei da minha esposa e  dai por diante, fui usando a cada dia com mais intensidade, assim fui até o fundo do poço. Hoje estou a doze anos separado e só agora percebi que este é o pior caminho de um ser humano. Estou decidido a colocar um ponto final no uso das drogas, mudar completamente a minha vida, mudar minhas atitudes, e ser bem visto pela minha família e pela sociedade, por que força de vontade eu tenho. <br>
            <br>
            Quando eu entrei na Comunidade Terapêutica, pretendia sim ficar os nove meses que são necessários para uma boa recuperação, mas quero completar seis meses e voltar para uma nova vida, voltar ao mercado de trabalho, voltar com força para as pessoas que me amam de verdade e ter uma vida sadia, com mais responsabilidade. <br>
            <br>
            Deixo aqui uma mensagem para os usuários e para quem um dia for experimentar só por curiosidade. Não sigam o caminho que eu percorri, porque na grande maioria é um caminho sem volta, sei que é difícil, mas não impossível. Procure ajuda das pessoas que te amam de verdade, confie em você e tenha sempre muita força de vontade. Faça por você e pela sua família. <br>
            <br>
            <br>
            22/06/2010
          </p>


        </div>
      </div>
    </div>
  </div>
</div>

<br/>
<br/>
<br/>
<div class="container">
  <div class="row">
    <div class="col-6">
      <img src="assets/img/ajude.png">
    </div>
    <div class="col-3">
      <a href="//pagseguro.uol.com.br/checkout/nc/nl/donation/sender-identification.jhtml?t=bc36a54985ab5a21ae412243be333d83f44e97b40fff4eba&e=true#rmcl"><img src="assets/img/Logo_PagSeguro.png" width="70%" height="80%"></a>
    </div>
    <div class="col-3">
      <a href="//www.paypal.com/donate?token=bET5z--lmJFJM3tnM1IdJ3ilERrmLV5pInDnAAlAFHQV760zpgqCYji1jlnfIy5ovUD5cvkx_GbpHy8U"><img src="assets/img/paypal-logo-2.png" width="70%" height="70%"></a>
    </div>
  </div>
</div>
