<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <div class="col-2">
      <img routerLink="/index" src="assets/img/logo2.png" width="300px" height="60px">
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item><span routerLink="/acvm">A CVM</span></a>
      <a mat-list-item><span routerLink="/educacaoinfantil">Educação Infantil</span></a>
      <a mat-list-item> <span routerLink="/acolhimentoinstitucional">Acolhimento Institucional</span></a>
      <a mat-list-item><span routerLink="/dashboard">Inclusão Produtiva</span></a>
      <a mat-list-item><span routerLink="/dashboard">Ajude</span></a>
      <br/>
      <hr>
      <a mat-list-item routerLink="/dashboard" *ngIf="logado === true">
        <span>Dashboard</span></a>
      <a mat-list-item routerLink="/agenda" *ngIf="logado === true">
        <span>Agenda</span></a>
      <a mat-list-item routerLink="/transparencia" *ngIf="logado === true">
        <span>Transparencia</span></a>
      <a mat-list-item routerLink="/noticia" *ngIf="logado === true">
        <span>Noticia</span></a>
      <a mat-list-item routerLink="/login" *ngIf="logado === false">
        <span>Administrador</span></a>
      <a mat-list-item routerLink="/index" *ngIf="logado === true" (click)="logout()">
        <span>Sair</span></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
      <app-footerbar></app-footerbar>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

