<div class="container" style="margin-top: 10px">
  <form #formularioAgenda="ngForm" (submit)="addAgenda(agenda)">
    <div class="form-group">
      <label>Data Evento</label>
      <input matInput type="date" class="form-control" name="data" [(ngModel)]="agenda.dataEvento" required>
    </div>
    <div class="form-group">
      <label>Descricao Evento</label>
      <input matInput type="text" class="form-control" name="descricao" [(ngModel)]="agenda.descricaoEvento" required>
    </div>
    <button type="submit" [disabled]="formularioAgenda.invalid" class="btn btn-primary">Cadastrar Evento
    </button>
  </form>
</div>

<br/>
<br/>
<br/>
<div class="container">
  <div class="row">
    <div class="col-6">
      <img src="assets/img/ajude.png">
    </div>
    <div class="col-3">
      <a href="//pagseguro.uol.com.br/checkout/nc/nl/donation/sender-identification.jhtml?t=bc36a54985ab5a21ae412243be333d83f44e97b40fff4eba&e=true#rmcl"><img src="assets/img/Logo_PagSeguro.png" width="70%" height="80%"></a>
    </div>
    <div class="col-3">
      <a href="//www.paypal.com/donate?token=bET5z--lmJFJM3tnM1IdJ3ilERrmLV5pInDnAAlAFHQV760zpgqCYji1jlnfIy5ovUD5cvkx_GbpHy8U"><img src="assets/img/paypal-logo-2.png" width="70%" height="70%"></a>
    </div>
  </div>
</div>
