<div class="container">
    <br>
    <img
      src="assets/img/educacao.PNG"
      class="d-block w-100" alt="..." width="40" height="500">
  </div>


<div class="container">
  <div class="row">
    <h1>
      <br/> <strong>EDUCAÇÃO INFANTIL</strong>
    </h1>

    <p>
      Com quase quatro décadas de história, o Centro Educacional Infantil Criança Feliz, mantido pela CVM,
      tem primado por um relacionamento aberto, sincero e em constante crescimento com aqueles que têm sido
      seus parceiros, e que têm entregado seus filhos aos cuidados da instituição. Atende crianças de 1 a 5
      anos de idade em período integral, das 7h30 às 18h.
    </p>

    <p>
      A Educação Infantil constitui-se como um espaço privilegiado, não qual a criança inserida em uma cultura,
      prossegue sua caminhada para aprender, relacionar-se com novos ambientes e preparar-se para dar sua
      contribuição no processo social de se fazer cidadão.
    </p>

    <p>
      O CEI Criança Feliz vem contribuindo para novas descobertas no desenvolvimento e transformação das crianças,
      tanto no aspecto físico quanto pedagógico, chegando até aqui com a graça de Deus, pela sua ação de
      sensibilizar pessoas que nos apoiam, e acima de tudo confiam em um futuro melhor.
    </p>

    <p>
      Possui espaço que articula no seu cotidiano como ações de cuidado e educação, isto é, cuidado inclui todas
      as atividades que estão conectadas à proteção e apoio necessário ao cotidiano de qualquer criança:
      alimentação, higiene e orientação, todas estas ações são parte integrante do que chamamos de educar,
      respeitando assim a dignidade e os direitos básicos da criança. Desta forma, o CEI Criança Feliz tornou-se
      um espaço que oportuniza e prioriza atividades que desenvolvem um conjunto de conhecimentos, habilidades,
      atitudes e valores adequados a cada faixa etária.
    </p>

    <p>
      Necessidade de melhorar a eficiência do atendimento integral da criança e adolescente, através de ações
      concretas, criamos mecanismos capazes de garantir a qualidade de melhor atender, garantindo respeito do
      estatuto da criança e adolescente, onde a família tem que ser o fator principal de todo atendimento.
    </p>

    <p>
      O CEI Criança Feliz - Educação Infantil está autorizado pela Resolução 003/99 do Conselho Municipal de
      Educação de São José de acordo com o Parecer n ° 20/07.
    </p>

    <p>
      O CEI tem como objetivo oferecer atendimento de qualidade as crianças, em um espaço saudável e seguro,
      com tempo para brincar, criar, sonhar, descobrir e compartilhar, desenvolver suas inteligências e
      potencialidades durante a infância, contribuindo para a formação e processamento do seu conhecimento e
      socialização.
    </p>
  </div>
</div>
