<mat-toolbar color="primary">

  <button class="col-1" style="color: white; text-align: center" mat-menu-item routerLink="/acvm">
    A CVM
  </button>
  <button class="col-1.5" style="color: white; text-align: center" mat-menu-item routerLink="/educacaoinfantil">
    Educação Infantil
  </button>
  <button class="col-1.5" style="color: white; text-align: center" mat-menu-item routerLink="/acolhimentoinstitucional">
    Acolhimento Institucional
  </button>
  <button class="col-1.5" style="color: white; text-align: center" mat-menu-item routerLink="/cascentroatendimentosocial">
    CAS/Centro Atend. Social
  </button>
  <button class="col-1.5" style="color: white; text-align: center" mat-menu-item routerLink="/dashboard">
    Inclusão Produtiva
  </button>
  <button class="col-1.5" style="color: white; text-align: center" mat-menu-item routerLink="/dashboard">
    Comunidade Terapêutica
  </button>
  <button class="col-1.5" style="color: white; text-align: center" mat-menu-item routerLink="/dashboard">
    Ajude
  </button>
</mat-toolbar>