<h1>
    PROGRAMA CAS - CVM - CENTRO DE ATENDIMENTO SOCIAL
</h1>

<h3>
    DESCRIÇÃO
</h3>

<p>
    O CAS - CVM, é um dos Programas coletados pela CVM, atenderá famílias em situação de vulnerabilidade 
    social e risco pessoal, com vistas à promoção integral do ser humano. Com esse propósito em 2015, 
    buscará intervir, por meio dos seguintes projetos:
</p>

<p>
    Serviço de Convivência e Fortalecimento de Vínculo Familiar para Crianças;
</p>

<p>
    Serviço de Convivência e Fortalecimento de Vínculo Familiar para Idosos;
</p>

<p>
    Serviço de Inclusão Produtiva;
</p>

<p>
    Serviço de Orientação e Apoio Sócio Familiar;
</p>

<p>
    Projeto Remédio para Todos;
</p>

<p>
    Projeto de Defesa e Garantia de Direitos;
</p>

<h3>
    JUSTIFICATIVA
</h3>

<p>
    A CVM realiza serviços sócios assistenciais desde sua fundação, e para 2015 foi criado o CAS-CVM 
    como Programa responsável por todas as ações sócios assistenciais realizados pela entidade.
</p>

<p>
    Por anos a CVM esteve empenhada em desenvolver ações sociais voltadas para atender a uma demanda que 
    já havia sofrido como consequência das consequências de violência e risco social como era o caso do 
    Acolhimento Institucional mantido pela CVM por mais de 20 anos. Com tantos anos de atuação, uma 
    experiência definida que ações de prevenção das situações de risco social são fundamentais para o 
    desenvolvimento digno de nossa sociedade.
</p>

<p>
    Contudo em 2015 a CVM se prontificou em focar suas ações na área da prevenção, sendo o CAS-CVM o 
    Programa responsável por esta intervenção por meio dos serviços e projetos que pretende desenvolver.
</p>

<h3>
    LOCALIZAÇÃO
</h3>

<p>
    Rua Emílio Macedo esquina com Rua Otto Júlio Malina, Bairro Ipiranga, São José / SC.
</p>

<h3>
    ABRANGÊNCIA
</h3>

<p>
    Município de São José - SC.
</p>

<h3>
    PÚBLICO ALVO
</h3>

<p>
    Crianças, adolescentes, adultos e idosos, conforme os critérios de prioridade de atendimento da CVM.
</p>

<h3>
    CAPACIDADE DE ATENDIMENTO
</h3>

<p>
    Em 2015 estima-se que serão atendidos neste programa mais de 800 (oitocentos) usuários entre crianças, 
    adolescentes, adultos e idosos.
</p>

<h3>
    OBJETIVOS GERAIS
</h3>

<p>
    Busca Implementar Serviços e Projetos Sociais que Previnam a ocorrência de violação de direitos, 
    risco social e que promovam a defesa, a garantia de direitos, bem como a inclusão social.
</p>

<h3>
    OBJETIVOS ESPECÍFICOS
</h3>

<p>
    Reconstrução de projetos de vida, na busca por autonomia individual e cidadania;
</p>

<p>
    Enfrentamento a pobreza;
</p>

<p>
    Orientação e preparação ao acesso ao mundo do trabalho (inclusão da produção);
</p>

<p>
    Prevenção da dependência química e criminalidade;
</p>

<p>
    Proteção;
</p>

<p>
    Empoderamento social;
</p>

<p>
    Estimular a habilidade empreendedora e de trabalho em equipe;
</p>

<p>
    Abrangente e oportunizar espaços de reflexão sobre a convivência familiar e comunitária;
</p>

<p>
    Realizar encaminhamentos para rede de apoio;
</p>

<p>
    Oportunizar espaços de convivência e desenvolvimento de habilidades da criança adolescente, e idoso;
</p>

<h3>
    METODOLOGIA
</h3>

<p>
    Atendimentos em grupo dirigido por um educador, ou instrutor técnico da área a ser trabalhada, 
    interagindo com os conhecimentos e participação da equipe técnica da CVM, composta, por Assistente Social, 
    Pedagoga, Nutricionista e Psicóloga.
</p>

<p>
    Atendimentos individuais com o Serviço Social quando necessário. Neste setor são feitos os encaminhamentos 
    encaminhamentos;
</p>

<p>
    Os projetos são construídos com os próprios participantes durante os cursos oferecidos, onde cada um tem 
    espaço para colocar suas opiniões e sugestões.
</p>

<p>
    Para a implantação de novos projetos sempre são avaliados como experiências anteriores, os indicadores 
    sociais e as solicitações dos usuários.
</p>

<h3>
    AVALIAÇÃO E MONITORAMENTO
</h3>

<p>
    Cada projeto desenvolvido pelo Serviço de Inclusão produtiva terá método avaliativo próprio, 
    definido pela equipe técnica.
</p>

<h3>
    A - OFICINA DE MANUTENÇÃO DE COMPUTADORES
</h3>

<h3>
    DESCRIÇÃO
</h3>

<p>
    O Projeto de Manutenção de Computadores trata-se de uma das estratégias do Serviço de Inclusão Produtiva 
    do CAS-CVM para 2015, que buscará por meio do curso de Iniciação Profissional em Manutenção de Computadores, 
    oportunizar aos jovens e adultos, conhecimentos básicos para o início no mercado do trabalho na área da 
    informática, ou redefinição de seus projetos de vida.
</p>

<h3>
    JUSTIFICATIVA
</h3>

<p>
    Pretende que a Inclusão Produtiva da CVM trata-se de uma ferramenta que tem objetivos que vão muito além 
    do mero treinamento profissional, cujo foco, é o resgate da dignidade da pessoa humana.
</p>

<p>
    Este projeto, busca por meio do curso de iniciação profissional, oportunizar espaços de troca, sobre 
    direito e cidadania e fortalecer a função produtiva das famílias.
</p>

<h3>
    PÚBLICO ALVO
</h3>

<p>
    Jovens a partir dos 16 anos, adultos e idosos.
</p>

<h3>
    CAPACIDADE DE ATENDIMENTO
</h3>

<p>
    Total de alunos atendidos no ano: 40.
</p>

<p>
    Sendo 20 alunos no primeiro semestre e 20 alunos no 2º semestre.
</p>

<p>
    Serão 02 turmas por semestre, cada turma com no máximo 10 alunos.
</p>

<h3>
    OBJETIVO
</h3>

<p>
    Propiciar ao cidadão atendido, aulas sobre os conhecimentos básicos para a iniciação profissional em 
    manutenção de computadores, como intervenção incentivadora e viabilizadora da inserção no mundo do trabalho, 
    bem como a inclusão social.
</p>

<h3>
    METODOLOGIA
</h3>

<p>
    Aulas práticas e expositivas, por meio de sala de recursos adaptadas para o tipo de curso oferecido.
</p>

<h3>
    B - OFICINA DE INCLUSÃO DIGITAL
</h3>

<h3>
    DESCRIÇÃO
</h3>

<p>
    Trata de uma das estratégias do Serviço de Inclusão Produtiva do CAS-CVM, que buscará por meio do curso 
    de Informática Básica oportunizar a crianças, jovens a adultos e idosos, incluir socialmente está demanda, 
    utilizando os recursos da informática para tratar de assunto que fortaleçam uma garantia de direitos por 
    parte dos usuários.
</p>

<h3>
    JUSTIFICATIVA
</h3>

<p>
    Considerar que uma das grandes questões sociais relevantes em nosso país é o analfabetismo, o Projeto 
    de Inclusão Digital (Curso de Informática Básica) propiciará além da alfabetização digital básica, a 
    utilização dos recursos da informática para que o usuário possa acessar informações sobre seus direitos 
    sociais , bem como pode usufruir dos recursos aprendidos para sua inserção no mercado de trabalho, para 
    aqueles que têm este como seu maior objetivo. Além do temas relacionados à informática, trabalhados temas 
    sobre Desenvolvimento Pessoal e Cidadania.
</p>

<h3>
    PÚBLICO ALVO
</h3>

<p>
    Crianças a partir de 04 anos, jovens, adultos e idosos.
</p>

<h3>
    CAPACIDADE DE ATENDIMENTO
</h3>

<p>
    Adolescentes e Adultos: 06 turmas com 10 alunos em cada uma.
</p>

<p>
    Crianças: 08 turmas com 10 alunos em cada turma.
</p>

<p>
    No primeiro semestre serão atendidos 140 alunos, e no segundo semestre serão atendidos mais 140 alunos.
</p>

<p>
    Total: 280 alunos atendidos em 2015.
</p>

<h3>
    OBJETIVO
</h3>

<p>
    Incluir o cidadão atendido na alfabetização digital, propiciando a este os conhecimentos básicos de 
    como esta tecnologia pode viabilizar a garantia de seus direitos bem como a inclusão social.
</p>

<h3>
    METODOLOGIA
</h3>

<p>
    Aulas práticas e expositivas, por meios de sala de recursos adaptados para o tipo de curso oferecido.
</p>

<h3>
    C - OFICINA DE PANIFICAÇÃO (INCLUSÃO PRODUTIVA)
</h3>

<h3>
    DESCRIÇÃO
</h3>

<p>
    Trata-se de uma das estratégias do Serviço de Inclusão Produtiva do CAS-CVM, que buscará pelo meio do 
    curso de Iniciação Profissional em Panificação, oportunizar aos jovens e adultos, a inclusão no mundo 
    do trabalho, por meio do desenvolvimento das habilidades profissionais dos mesmos, ministrando temas 
    que facilitarão a inserção no mundo do trabalho e a definição de novos projetos de vida.
</p>

<h3>
    JUSTIFICATIVA
</h3>

<p>
    A Oficina “Panificação” surge da percepção da necessidade social e econômica das famílias que residem 
    no Bairro Ipiranga e arredores, no município de São José, notadamente carentes. Muitas destas famílias 
    apresentam dificuldades, que impossibilitam a participação de cursos profissionalizantes.
</p>

<p>
    Nosso meta é que este programa de qualificação forneça as ferramentas necessárias para o bom desempenho 
    dos mesmos não só no mercado de trabalho, mas também na vida pessoal e como cidadãos brasileiros.
</p>

<p>
    O projeto irá possibilitar o conhecimento dos vários tipos de massas, recheios e ingredientes para uma 
    fabricação de Paes, doces, salgados, bolos e tortas específicas.
</p>

<p>
    Qualificando os usuários a trabalhar em padarias, lanchonetes, buffets, casas de confeitarias e pastelarias, 
    bem como conhecimentos básicos em manipulação de alimentos e segurança do trabalho em padaria.
</p>

<p>
    As produções, doces, pães, tortas entre outros, serão utilizados para o consumo das pessoas atendidas 
    em todos os programas da CVM.
</p>

<h3>
    PÚBLICO ALVO
</h3>

<p>
    Jovens acima de 16 anos, adultos e idosos.
</p>

<h3>
    CAPACIDADE DE ATENDIMENTO
</h3>

<p>
    Total de alunos em 2015: 20
</p>

<h3>
    OBJETIVO
</h3>

<p>
    Inclusão Social e preparação para o mundo do trabalho, por meio de conhecimentos sobre a panificação, 
    manipulação de alimentos e segurança do trabalho em padaria.
</p>

<h3>
    METODOLOGIA
</h3>

<p>
    Aulas práticas e expositivas, por meios de sala de recursos adaptados para o tipo de curso oferecido.
</p>

<h3>
    4. PROJETO ESCOLA DE FAMÍLIA - SERVIÇO DE APOIO E ORIENTAÇÃO SÓCIO FAMILIAR
</h3>

<h3>
    DESCRIÇÃO
</h3>

<p>
    O Projeto Escola de Família é um Serviço de Apoio e Orientação Sócio Familiar, que consiste em uma 
    ação sócio educativa promovida pelo CAS-CVM e tem como foco principal a prevenção das situações de 
    risco social, dependência química e violência intrafamiliar. Desenvolve atendimentos sócio assistenciais 
    à família, de forma individual e / ou em grupos, com o propósito de desenvolver o caráter protetivo 
    das famílias, bem como fortalecer o vínculo entre seus membros.
</p>

<p>
    Este projeto procura fortalecer o papel dos pais ou responsáveis, por crianças e adolescentes, os mesmos, 
    ser encaminhados pelo Juizado da Infância e Juventude e Conselho Tutelar de São José SC. Atendendo ao art. 
    129, incisos I e IV, do ECA que diz: "São medidas aplicáveis ​​aos pais ou responsável:
</p>

<p>
    § I - encaminhamento a programa oficial ou comunitário de promoção à família;
</p>

<p>
    § IV - encaminhamento a cursos ou programas de orientação.
</p>

<P>
    O CAS-CVM compreendendo a necessidade e necessidade deste tipo de atendimento no município de São José 
    decidiu implantar esta ação. Após mais de 20 anos atuando como responsáveis ​​por Programa de Acolhimento 
    Institucional, e Programa Comunidade Terapêutica, a equipe da CVM evitadas que muitas situações de 
    negligência e violência ter sido evitadas se os pais ou responsáveis ​​tivessem sido orientados sobre o 
    papel de protetores e educadores de crianças e adolescentes, no que diz respeito ao aspecto sócio 
    educacional. Contudo, o foco da CVM na atualidade é uma prevenção, e este projeto é o início de 
    muitas ações voltadas para este fim.
</P>

<h3>
    JUSTIFICATIVA
</h3>

<p>
    Este projeto cujo foco principal é a prevenção da violência contra crianças e adolescentes e a inclusão 
    social das famílias, compreende que a família precisa de ajuda. Família compreendida aqui como:
</p>

<p>
    “Um espaço altamente complexo. É construída e reconstruída histórica e cotidianamente, através das 
    relações e que significa que entre seus membros, entre seus membros e outras esferas da sociedade e 
    entre ela e outras esferas da sociedade, tais como Estado, trabalho e mercado. Reconhece-se também 
    que além de sua capacidade de produção de subjetividades, ela também é uma unidade de cuidado e 
    redistribuição interna de recursos ”. 
    (Mioto, http://www.uel.br/revistas/uel/index.php/ssrevista/article/view/7584/6835 ).
</p>

<p>
    Neste contexto acredita-se que aumenta o papel da família por meio dospais ou responsáveis ​​contribuirá 
    eficaz para o processo de proteção e prevenção da violência contra crianças e adolescentes, pois, sabe-se 
    que “como sociedades têm submetido crianças e adolescentes inúmeros tipos de violência, sendo a de cunho 
    doméstico uma das mais comuns ”.
</p>

<p>
    Segundo Azevedo (1990), a violência doméstica contra crianças e adolescentes: "- é uma violência 
    interpessoal e intersubjetiva; - é um abuso do poder disciplinar e coercitivo dos 
    pais ou responsáveis; 
    - é um processo que pode se prolongar por meses e até anos ; 
    - é um processo de completa objetalização da vítima, local-a à condição de objeto de maus-tratos; 
    - é uma forma de violação dos direitos essenciais da criança e do adolescente enquanto as pessoas e, 
    portanto, uma negação de valores humanos fundamentais como a vida, a liberdade, a segurança; 
    - tem na família sua ecologia privilegiada. Como esta pertence à esfera do privado, a violência 
    doméstica acaba se revestindo da característica tradicional de sigilo ". 
    ( http://bvsms.saude.gov.br/bvs/ publicacoes / 0220violencia.pdf ).
</p>

<p>
    Contudo, este projeto tem sua importância para se tratar do trabalho preventivo de muitos riscos 
    sociais que permeiam as famílias no município de São José.
</p>

<h3>
    PÚBLICO ALVO
</h3>

<p>
    Pais ou responsáveis ​​por crianças e adolescentes encaminhados pelo Juizado da Infância e Juventude 
    e Conselho Tutelar de São José SC.
</p>

<h3>
    CAPACIDADE DE ATENDIMENTO
</h3>

<p>
    1 ° grupo com 10 pais.
</p>

<p>
    OBS: Poderão ser implantados mais grupos, para tanto dependerá da capacidade de atendimento da 
    equipe técnica.
</p>

<h3>
    OBJETIVO
</h3>

<p>
    Acolher e orientar os pais e responsáveis ​​por crianças e adolescentes da comunidade, com o intuito 
    de potencializar o papel dos mesmos enquanto protetores e educadores.
</p>

<h3>
    METODOLOGIA
</h3>

<p>
    Atendimento em grupo;
</p>

<p>
    Encontros temáticos que discutiram temas relevantes ao grupo, mas que tenham relação com o objetivo 
    do projeto, como por exemplo:
</p>

<p>
    Palestras com profissionais tratando de assuntos relativos à necessidade do grupo de pais com relação 
    ao atendimento a seus filhos;
</p>

<p>
    Assuntos como a primeira infância, desenvolvimento infantil, saúde e higiene bucal da criança, 
    nutrição infanto-juvenil e outros.
</p>

<p>
    Os pais que levantam a necessidade de atendimento individual atendidos pelo Serviço Social que 
    fará os devidos encaminhamentos.
</p>

<h3>
    5. PROJETO REMÉDIO PARA TODOS
</h3>

<h3>
    DESCRIÇÃO:
</h3>

<p>
    O projeto Remédio para Todos, é mais uma ação do CAS-CVM, tem como propósito viabilizar a distribuição 
    de medicamentos gratuitamente a população carente. Além de garantir o direito à saúde este projeto 
    surge com o propósito de desenvolver a consciência cidadã.
</p>

<p>
    A ideia central é que a população tenha um local preparado para receber doação de medicamentos que 
    sobram, estas medicações ao desfazer de muitas vezes ir para o lixo, aproveitadas por pessoas que 
    desejadas com problemas de saúde.
</p>

<p>
    O CAS-CVM acredita que todos somos responsáveis ​​pela sociedade em que vivemos, e de uma forma tão 
    simples e sem custo para quem ajuda, poderemos beneficiários person.
</p>

<p>
    O projeto consiste em solicitar a doação de remédios através dos representes e laboratórios farmacêuticos, 
    pessoas físicas que adquirem remédios e não usaram, através de pessoas que compraram remédios mais só 
    utilizaram uma parte.
</p>

<p>
    Com isto teremos remédios para distribuir “gratuitamente” pessoas carentes com renda familiar não 
    superior a 2 (dois) recompensas regionais que apresentarem receita médica.
</p>

<p>
    Este projeto em parceria com a Secretária Municipal de Saúde e outros órgãos, visa oferecer condições 
    das pessoas terem remédios para tratar suas enfermidades.
</p>

<h3>
    JUSTIFICATIVA
</h3>

<p>
    Uma das preocupações da CVM, ao elaborar este projeto “Remédios para todos”, é necessário atender a 
    legislação sanitária e as normas do CRF (Conselho Regional de Farmácia) e as normas do ministério de 
    saúde sobre armazenamento e distribuição de medicamentos. Em segundo lugar, pensar nas pessoas 
    desprovidas de recursos e que não adquirirá medicamentos e que receber gratuitamente os medicamentos 
    prescritos por seus médicos. Pois, sem esta distribuição muitos não seriam medicados.
</p>

<p>
    E em terceiro lugar, ajudar a evitar o desperdiço de muitos de reais em remédios que são descartados 
    todos os dias. Pois, as pessoas não consomem toda a cartela prescrita. Pois seu tratamento não prevê a 
    utilização de toda a cartela adquirida. E finalmente ajudar no recolhimento do descarte deste 
    medicamento que quando nao utilizado sao jogados no lixo, indo poluir os aterros sanitários.
</p>

<h3>
    OBJETIVOS GERAIS
</h3>

<p>
    Distribuir medicamento gratuitamente às famílias de baixa renda.
</p>

<h3>
    OBJETIVO ESPECÍFICO
</h3>

<p>
    Arrecadar medicamentos através de campanhas;
</p>

<p>
    Evitar desperdício de medicamentos.
</p>

<p>
    Auxiliar na distribuição de medicamentos;
</p>

<p>
    Resgatar a cidadania e promover o bem estar para as pessoas doentes;
</p>

<p>
    Oferecer medicamentos gratuitos á pessoas com dificuldades de adquiri-los mediante prescrição médica;
</p>

<p>
    Descarte correto de medicamento que iriam para o lixo;
</p>

<p>
    Auxiliar as pessoas carentes na distribuição gratuita de remédios para os residentes em São José;
</p>

<p>
    Fracionar os medicamentos para promoção do uso racional, pois permiti disponibilizar o produto 
    (Remédio) adequado para tratamento específico em quantidade e dosagens suficientes para o tratamento.
</p>

<h3>
    METODOLOGIA
</h3>

<p>
    Metodologia a ser utilizada para a realização deste projeto consiste em oferecer uma população de 
    baixa renda gratuita através de local (Farmácia) dentro das normas da vigilância sanitária, com 
    profissionais - farmacêuticos e auxiliares de farmácias e através de campanha que será solicitado 
    a comunidade em geral a participar deste projeto.
</p>

<p>
    Após a entrega, o responsável técnico - farmacêutico registrado no CRF - Conselho Regional de Farmácia 
    fará triagem, reembala os medicamentos e colocações-nas prateleiras para ser distribuído.
</p>

<p>
    As pessoas necessitadas procuram o serviço com a receita em 2 (duas) vias e fornecem o medicamento em 
    quantidade necessária para o tratamento, onde a receita ficará arquivada.
</p>

<p>
    O recebimento de produtos farmacêuticos doados por uma empresa não é somente a transferência física 
    de produtos, mas também o momento em que mais uma empresa se insere no ciclo de responsabilidade pelos 
    mesmos, tornando-se assim, co-responsável pela garantia da qualidade dos produtos .
</p>

<p>
    O recebimento de medicamentos é um procedimento que será realizado por pessoa capacitada e treinada, 
    de acordo com os procedimentos padrão, gerados pela ANVISA. O funcionário que recebe a mercadoria seja 
    responsável por efetivar a entrada dos produtos.
</p>

<p>
    A aquisição de medicamentos consiste num conjunto de procedimentos pelos quais se efetiva e visa à 
    regularidade e o funcionamento da medicina comunitária.
</p>

<p>
    Será verificada a fabricação e os prazos de validade das medicações estão legíveis e dentro do prazo 
    mínimo de validade, em perfeito estado de conservação e integridade dos produtos a serem adquiridas, 
    boas condições de armazenamento que possibilita a estocagem ordenada, segura e racional das diversas 
    categorias dos remédios.
</p>

<p>
    Caso haja qualquer inconformidade com a medicação doada pela comunidade, o responsável farmacêutico 
    procederá à segregação dos produtos em local previamente determinado e identificado e imediatamente 
    ligado a direção a instituição.
</p>

<p>
    Será necessário a temperatura ideal para conservação dos medicamentos. Os medicamentos, para sua 
    conservação, devem ser estocados em ambientes com temperatura média de 25 ° C (+ ou - 2 °). 
    No entanto, alguns produtos nascem entre 2º e 8 ° C para conservação. Na ausência de menção específica, 
    uma conservação a temperatura ambiente prevalece (entendendo ‑ se a temperatura ambiente para um 
    clima continental). A umidade, sem local de estocagem de medicamentos, deve ser rigorosamente 
    controlada, com o objetivo de evitar a alteração da integridade dos mesmos. Apesar de os 
    medicamentos geralmente se encontrarem bem acondicionados, lacrados e, na maioria, imunes a 
    este fator, alguns fármacos, como o ácido acetilsalicílico, cloranfenicol e a procaína, 
    são extremamente exigentes à umidade.
</p>

<p>
    A luminosidade é outro fator que será levado em consideração na conservação dos medicamentos, 
    pois grande parte dos mesmos a sua integridade alterada por ação da luz. Alguns medicamentos 
    que compram em blísteres transparente e que podem ser vendidos nas embalagens primárias, geralmente, 
    com quatro ou seis unidades, como analgésicos, medicamento para o tratamento sintomático da gripe, 
    laxantes, antiácidos, entre outros, geralmente, nas farmácias, ficam expostos em balcões de vidro e 
    fora de suas embalagens secundárias. Portanto, suscetíveis a mudanças causadas pela 
    incidência de luz. É necessária a manutenção dos mesmos nas embalagens secundárias, de onde 
    somente deve ser retirado, no momento da entrega, protegendo ‑ os, assim, da luminosidade excessiva.
</p>

<p>
    No caso, dos medicamentos sujeitos ao controle especial, conforme determina a 
    Portaria SVS / MS 344/98 e suas atualizações de controles mais rígidos que os demais 
    medicamentos. As características às características medicamentos, sua área de estocagem 
    deve ser considerada de segurança máxima e deve ser separada das demais.
</p>

<p>
    Os armários que os condicionam devem ser fechados com chaves e ter sua temperatura interna monitorada 
    como as demais áreas de estocagem. Os registros de entrada e saída desses medicamentos, na farmácia 
    comunitária, devem ser feitos, obedecendo à legislação sanitária específica, sem prejuízo do controle 
    normal de estoque.
</p>

<p>
    O prazo de validade é o limite de dados para a utilização de um produto, definida pelo fabricante 
    com base nos seus respectivos testes de estabilidade, definida como condições de armazenamento, 
    transporte e uso. Normalmente, este é expresso em mês / ano, o que denota que o aluno pode ser usado, 
    até o último dia do mês estipulado. Por exemplo, se um produto tem o prazo de validade de 03/2009, 
    significa que você pode ser utilizado até 31 de março do ano 2009, respeitadas as orientações do 
    fabricante. Entretanto, deve ‑ se considerar antecipadamente vencido o medicamento cuja posologia 
    não pode ser efetivada no prazo de validade ainda remanescente, como os anticoncepcionais que, para 
    obtenção dos resultados esperados, devem ser iniciados diariamente por 21 a 30 dias. Para um controle 
    eficaz de validade, é indispensável uma estocagem adequada, onde os medicamentos fiquem distribuídos, 
    de forma a permitir uma fácil visualização da validade, ficando os produtos de vencimento próximo, 
    antes na frente dos demais. Sugere ‑ se, ainda, que sejam separados, em específico local, os 
    medicamentos a vencer.
</p>

<p>
    O destino dos produtos vencidos será definido e escrito no ”Plano de Gerenciamento de Resíduos de 
    Serviços de Saúde” (Resolução RDC nº 306, de 07 de dezembro de 2004). Constatado o vencimento, os 
    produtos devem ser acondicionados em caixas lacradas e armazenados em local devidamente identificado, 
    até serem entregues à vigilância sanitária local. Os medicamentos sujeitos ao controle especial 
    obedecem aos critérios mais rígidos, devendo ser seu vencimento registrado no SNGPC 
    (Resolução RDC nº 27, de 30 de março de 2007) e sua segregação feita em armários chaveados, 
    até a recolhimento ou envio da ANVISA municipal.
</p>

<h3>
    OPERACIONALIZAÇÃO
</h3>

<p>
    A operacionalização da “farmácia comunitária” ocorrerá após a conclusão das adequações sugeridas 
    pela secretária de saúde e vigilância sanitária e do provado quadro de funcionários para atuar 
    neste contexto. Bem como a parceria de parcerias que se faz necessário.
</p>

<h3>
    PÚBLICO ALVO
</h3>

<p>
    A farmácia comunitária atenderá as pessoas de baixa renda residentes no município de São José 
    que necessitarem de medicamentos e por necessidades não adquiridas.
</p>

<h3>
    AVALIAÇÃO DE PROCESSO
</h3>

<p>
    Para a criação deste item a instituição adotará uma série de fatores para o alcance dos resultados 
    desejados:
</p>

<p>
    Avaliações de desempenho semântico junto aos profissionais, parcerias e comunidade beneficiada;
</p>

<p>
    Pesquisa para poder mensurar o grau de satisfação de cada pessoa, acompanhando pela equipe 
    inserida no projeto;
</p>

<p>
    Neste item para cada objetivo iremos identificar os indicadores quantitativos e qualitativos 
    dos resultados esperados.
</p>

<h3>
    INDICADORES DE RESULTADOS
</h3>

<p>
    Oferecer medicamento para pessoas carentes.
    Números de pessoas que doaram medicamento e entrada dos mesmos;
    Número de pessoas que receberam os medicamentos;
    Número e condições de medicamentos descartados corretamente;
</p>

<h3>
    Meios e Verificações
</h3>

<p>
    Relatórios mensais;
    Teste de alferição, ou seja, medir, conferir pesos ou medidas, da qualidade de medicamentos;
    Solicitação de vigilância sanitária visitas periódicas;
    Entrevista pessoal com pessoas envolvidas, doadores de medicamento e pessoas que recebem os mesmos.
</p>

<h3>
    AVALIAÇÃO E MONITORAMENTO
</h3>

<p>
    Neste item serão aceitas todas as informações de como foi desenvolvido o projeto, ressaltando que os 
    recursos recebidos foram recebidos nas finalidades institucionais, em compliance com os estatutos sociais, 
    e muito bem demonstrados nos balanços financeiros.
</p>

<p>
    A entidade possui toda uma estrutura dentro e espaço físico para o desempenho do projeto e também o 
    mesmo terá todo o acompanhamento do responsável técnico. Tratando-se de uma entidade sem fins lucrativos, 
    existe todo um quadro administrativo para garantir uma maior eficiência e eficácia nas atividades 
    da Instituição.
</p>

<h3>
    PARCERIAS
</h3>

<p>
    Para preparação do projeto buscamos formar parcerias com empresas e pessoas físicas, universidades 
    com o curso de farmácia, vigilância sanitária e secretária Municipal de Saúde que tenham objetivo 
    em comum, ou seja, responsabilidade social. A pretende instituir administrar essa parceria de forma 
    idônea e transparente.
</p>

<h3>
    RECURSOS
</h3>

<p>
    Para a realização deste projeto será necessário:
</p>

<p>
    01 responsável técnico - Farmacêutico registrado no CRF (Conselho Regional de Farmácia)
    01 atendente (Técnico em farmácia)
    01 assistente social
    01 coordenador
    01 profissional para divulgação
</p>

<h3>
    RECURSOS NECESSÁRIOS
</h3>

<p>
    01 Farmacêutico
    01 Atendente Farmácia
</p>

<p>
    Serão exigidos 02 (duas) salas adaptadas e climatizadas com cerâmica nas paredes, 
    pias de água corrente, geladeira, armários, mesas e cadeiras.
</p>

<h3>
    RECURSOS EXISTENTES / CONTRAPARTIDA
</h3>

<p>
    Espaço físico
</p>

<p>
    Coordenação do projeto
</p>

<p>
    Todo equipamento necessário
    Divulgação do projeto
    02 salas adaptadas
    Administração
    Contador / Auditoria
    Advogado
    Recepcionista
    Limpeza (Serviços Gerais)
    Manutenção das instalações
    Material de limpeza
    Luz
    Água
    Telefone
    Material de expediente
    Taxas
    Alvará sanitário
    Alvará de bombeiro
    Recarga de extintores
    Desratização / Dedetização
    Etc
</p>

<h3>
    CONCLUSÃO
</h3>

<p>
    Conclui-se que uma farmácia comunitária “Remédios para Todos”, tem com objetivo consentir 
    que as pessoas carentes residentes do município de São José sejam auxiliadas na distribuição 
    gratuita de medicamentos mediante prescrição médica.
</p>

<p>
    Pois, as pessoas desprovidas de recursos financeiros não conseguem muitas vezes adquirir os 
    medicamentos indicados pelos seus médicos.
</p>

<p>
    Desta forma, uma farmácia comunitária contará com o apoio da comunidade para obter estes 
    medicamentos mediantes ao descarte de remédios que não foram totalmente utilizados.
</p>

<h3>
    6. PROJETO DE DEFESA E GARANTIA DE DIREITOS DA CVM:
</h3>

<h3>
    DESCRIÇÃO
</h3>

<p>
    O Projeto de Defesa e Garantia de Direitos da CVM, ocorre desde sua fundação, a CVM compreendeu 
    desde o início que é necessário conhecer as legislações e participar das decisões que dizem 
    respeito à sociedade, em especial como Entidades Beneficentes de Assistência Social e aos 
    usuários por elas atendidos.
</p>

<p>
    Sendo assim, além de prestar serviços, a CVM buscou ter voz ativa e participativa nos órgãos 
    deliberativos, contribuindo para as decisões referentes às políticas públicas no âmbito do município 
    e estado.
</p>

<p>
    A CVM promove ações de divulgação e conscientização à população, quanto a seus direitos e representação 
    como Entidades Beneficentes de Assistência Social por meio de reuniões e participação também nos Fóruns 
    Municipais e estaduais da criança e do adolescente e da assistência social.
</p>

<p>
    Ações para 2015:
</p>

<p>
    Participação nos Conselhos:
</p>

<p>
    Participação nos Conselhos de âmbito municipal: CMDCA - Conselho Municipal dos Direitos da 
    Criança e do Adolescente e CMAS - Conselho Municipal da Assistência Social;
</p>

<p>
    Participação nos Conselhos de âmbito estadual: CEDCA - Conselho Estadual dos Direitos das Crianças 
    e Adolescentes; CEAS - Conselho Estadual de Assistência Social.
</p>

<p>
    Promover encontros periódicos entre as Entidades de Assistência Social e Associações.
</p>

<p>
    Participação nos Fóruns da Criança e do Adolescente e Assistência Social.
</p>