<div class="container">
  <div class="row">
        <h1 class="">A CVM</h1>

        <div class="paragrafo">
            <p>
                Entidade filantrópica assistencial sem fins lucrativos, declarada de utilidade pública pelo Governo
                Municipal, Estadual e Federal, está registrada no Conselho Nacional de Assistência Social e possui
                Certificado de Filantropia.
            </p>

            <p>
                Fundada em 1º de novembro de 1978 para ajudar crianças, adolescentes e adultos abandonados e com risco
                social.
            </p>

            <p>
                Importante obra, resultado do trabalho de “Dona Jandira Jovita da Rosa” e de “Dona Geny Julia Feijó”,
                evangélicas que em 1978 realizaram a missão de fundar esta entidade.
                O ideal inicial da Dona Jandira e Dona Geny era iniciar o atendimento com 01 (uma) creche para
                crianças de 0 a 06 anos. Em julho de 1980 a Dona Geny faleceu e em junho de 1985 faleceu também a Dona
                Jandira.
            </p>

            <p>
                Em 1986, a instituição fundou o Lar Jandira Jovita da Rosa, para atender crianças de 0 a 18 anos
                abandonados e / ou vítimas de maus tratos, em 1996 foi aberta a Comunidade Terapêutica Dona Geny
                Julia Feijó, que no início só atendia crianças e adolescentes, e a partir do ano de 2007 passou
                a atender adultos.
            </p>

            <p>
                O atendimento da CVM é totalmente gratuito e abrange grande parte dos municípios catarinenses.
            </p>

            <p>
                A CVM está estruturada independente de qualquer igreja, partido ou governo, mantendo seus
                princípios dentro das escrituras sagradas de Jesus Cristo, desde sua formação tem orientado
                e pautado suas ações pelos princípios de JESUS ​​CRISTO, oferecendo condições plenas e dignas
                de acesso, acreditando que a verdadeira transformação das pessoas só pode ser alcançada através
                de JESUS, e que o trabalho por mais meritório que seja sem JESUS ​​não tem a menor validade.
            </p>

            <p>
                Hoje, há 37 anos, a instituição oferece:
            </p>

            <ul>
                <li>Educação Infantil (Creche e pré-escola) - Crianças de 2 a 5 anos - Das 7h30 às 18h.<br></li>
                <li>Acolhimento Institucional (Casa Lar) - Atividades Paralisadas em Agosto de 2014.<br></li>
                <li>Projeto Convivência / Educação Complementar - Crianças de 6 a 8 anos - Contraturno Escolar.<br></li>
                <li>Comunidade Terapêutica para dependentes químicos.<br></li>
                <li>Inclusão Produtiva (Panificação e Informática), entre outros.</li>
            </ul>

            <p>
                Até hoje, os ideais e a missão de Dona Jandira e Dona Geny tem inspirado e permanecido nas
                propostas dos dirigentes, voluntários e colaboradores da instituição.
            </p>

            <p>
                Tem como fins “Amparar a infância carente”, promovendo a integração criança, família,
                sociedade e idoso, tendo em vista os princípios de que a vida em família é a mais alta
                expressão da civilização, e que nenhuma criança deve ser retirada do lar apenas por
                motivo de pobreza.
            </p>

            <p style="text-align: center; font-weight: bold;">
                "Instruir uma criança no caminho em que deve andar,<br>
                e até quando envelhecer não se desviará dele."<br><br>
                Provérbios 22: 6
            </p>

            <h3>
                MISSÃO
            </h3>

            <p>
                Socializar o atendimento de qualidade à população de baixo poder aquisitivo na
                busca de soluções para as crianças, adolescentes e adultos excluídos, formação de
                mulheres e homens humanos e responsáveis, promovendo valores, rompendo paradigmas
                e evangelizando-os nos ensinamentos de Jesus.
            </p>

            <h3>
                VISÃO
            </h3>

            <p>
                Ser referência na área social, buscando aprimoramento contínuo e inovando pelas ações.
            </p>

            <h3>
                VALORES
            </h3>

            <p>
                Ética; Transparência; Credibilidade; Competência; Integridade; Seriedade;
                Respeito às diferenças; Temor a Deus.
            </p>

            <h3>
                POLÍTICA DE QUALIDADE
            </h3>

            <p>
                Os resultados dos serviços prestados, a valorização da equipe de trabalho,
                o cuidado de vidas com profissionalismo, uma organização e responsabilidade,
                o cumprimento do papel social e a busca da excelência nas atividades desenvolvidas.
            </p>

            <h3>
                OBJETIVOS GERAIS
            </h3>

            <P>
                Fornecer atendimento assistencial, psicológico e educacional às crianças,
                adolescentes e adultos, bem como aos seus familiares, que resulte para estes
                uma melhor qualidade de vida.
            </P>

            <h3>
                OBJETIVOS ESPECÍFICOS
            </h3>

            <p>
                Desenvolver e executar um planejamento pedagógico e psicológico que estimule a reflexão,
                duração, exercício da cidadania e consciência da realidade de cada cliente.
            </p>

            <p>
                Suprir as crianças, adolescentes e adultos em suas necessidades físicas e emocionais,
                como: alimentação, higiene, solidariedade, atenção, simpatia, amabilidade, estimulação
                psicomotora e outros;
            </p>

            <p>
                Criar programa de ensino que seja capaz de atender a cada usuário nas suas dificuldades,
                explorando suas potencialidades;
            </p>

            <p>
                Criar oportunidades aos familiares para expor e discutir suas ideias, dificuldades e anseios
                a respeito de seus entes queridos.
            </p>
        </div>
    </div>
</div>
