<div class="alert alert-warning" role="alert" style="text-align: center; margin-top: 10px">
  Bem vindo ao sistema CVM!
</div>

<div class="container">
  <div class="row">

    <button type="button" class="btn btn-lg col-4" style="background: #8aa0a8; color: white" routerLink="/agenda">
      <mat-icon></mat-icon>
      Agenda
    </button>
    <button type="button" class="btn btn-lg col-4" style="background: #8aa0a8; color: white" routerLink="/transparencia">
      <mat-icon></mat-icon>
      Transparencia
    </button>
    <button type="button" class="btn btn-lg col-4" style="background: #8aa0a8; color: white" routerLink="/noticia">
      <mat-icon></mat-icon>
      Noticia
    </button>

  </div>
</div>

<br/>
<br/>
<br/>
<div class="container">
  <div class="row">
    <div class="col-6">
      <img src="assets/img/ajude.png">
    </div>
    <div class="col-3">
      <a href="//pagseguro.uol.com.br/checkout/nc/nl/donation/sender-identification.jhtml?t=bc36a54985ab5a21ae412243be333d83f44e97b40fff4eba&e=true#rmcl"><img src="assets/img/Logo_PagSeguro.png" width="70%" height="80%"></a>
    </div>
    <div class="col-3">
      <a href="//www.paypal.com/donate?token=bET5z--lmJFJM3tnM1IdJ3ilERrmLV5pInDnAAlAFHQV760zpgqCYji1jlnfIy5ovUD5cvkx_GbpHy8U"><img src="assets/img/paypal-logo-2.png" width="70%" height="70%"></a>
    </div>
  </div>
</div>
