<div class="alert alert-warning" role="alert" style="text-align: center; margin-top: 10px">
  Bem vindo ao sistema CVM!
</div>

<div class="container">
  <div class="row">

    <button type="button" class="btn btn-lg col-4" style="background: #8aa0a8; color: white" routerLink="/agenda">
      <mat-icon></mat-icon>
      Agenda
    </button>
    <button type="button" class="btn btn-lg col-4" style="background: #8aa0a8; color: white" routerLink="/transparencia">
      <mat-icon></mat-icon>
      Transparencia
    </button>
    <button type="button" class="btn btn-lg col-4" style="background: #8aa0a8; color: white" routerLink="/noticia">
      <mat-icon></mat-icon>
      Noticia
    </button>

  </div>
</div>
