<div class="container">
  <div class="row">
    <h1 class=""><br/><strong>INCLUSÃO PRODUTIVA - PANIFICAÇÃO E INFORMÁTICA</strong></h1>

    <div class="container">
      <div class="row">

          <h2>
            SERVIÇO DE INCLUSÃO PRODUTIVA
          </h2>

        <div class="paragrafo">

          <br/>
          <h3> <strong>
            DESCRIÇÃO
          </strong> </h3>

          <p>
            O Serviço de Inclusão Produtiva é um serviço de Proteção Social Básica, que integra as ações socioassistenciais do CAS – CVM. Caracteriza-se como um trabalho social com famílias vulnerabilizadas decorrentes da pobreza. Por meio de cursos profissionalizantes, promove espaços de reflexão sobre a cidadania e com a intervenção da equipe interdisciplinar do CAS-CVM, articula ações e redes de apoio, que favorecem a inserção no mercado de trabalho.
          </p>

          <p>
            A proposta para 2015 é oferecer os seguintes serviços de Inclusão Produtiva:
          </p>

          <p>
            a - Oficina de Manutenção de Computadores;
          </p>

          <p>
            b - Oficina de Panificação;
          </p>

          <p>
            c - Oficina de Inclusão Digital.
          </p>

          <br/>
          <br/>
          <h3> <strong>
            JUSTIFICATIVA
          </strong> </h3>

          <p>
            Todos os cidadãos precisam das condições básicas para sua sobrevivência, infelizmente muitas vezes nem o básico lhes é garantido, sendo assim, a CVM, preocupada com esta parcela da sociedade que sofre com estas dificuldades, procurou desde sua fundação desenvolver estratégias de intervenção que auxiliem a população no resgate e fortalecimento da cidadania.
          </p>

          <p>
            O Serviço de Inclusão Produtiva do CAS-CVM é a oportunidade que muitas famílias têm de verificar possibilidades de mudança de vida, de forma consciente. A ideia é estimular as pessoas a sonharem, a acreditarem no próprio potencial e se implicarem nas questões da sociedade onde vivem. Para tudo sempre há um começo, para os jovens nem sempre é fácil ingressar no mercado de trabalho, ainda mais quando já estão algum tempo fora da escola, o mesmo acontece com os adultos, que por conta de terem parado de estudar sentem-se incapazes de mudar sua própria história de vida. Aos idosos a equipe da CVM pensa na Inclusão Produtiva como uma estratégia de troca de experiências, interação intergeracional, compreendendo a pessoa idosa como produtiva e com uma bagagem de conhecimento que pode favorecer toda a população.
          </p>

          <p>
            O atendimento da CVM é totalmente gratuito e abrange grande parte dos municípios catarinenses.
          </p>

          <p>
            Contudo a Inclusão Produtiva da CVM trata-se de uma ferramenta que tem objetivos que vão muito além do mero treinamento profissional, cujo foco, é o resgate da dignidade da pessoa humana.
          </p>

          <br/>
          <br/>
          <h3> <strong>
            HISTÓRICO
          </strong> </h3>

          <p>
            A CVM atua nesta perspectiva desde 14/11/1994, quando foi realizada a compra de computadores para a informatização da entidade e montagem do curso de Inclusão Produtiva “Digital” (na época Curso de Informática) com 12 computadores modelo 386 que era o mais moderno até então.
          </p>

          <p>
            Os cursos começaram a ser ministrados com 24 alunos por turma no ano de 1995, onde se formaram 120 alunos.
          </p>

          <p>
            Neste mesmo ano foram adquiridos os equipamentos de Panificação onde foram atendidos mais de 100 alunos.
          </p>

          <p>
            O projeto de “Panificação” surge da percepção da necessidade social e econômica das famílias que residem no Bairro Ipiranga e arredores, no município de São José, notadamente carentes, como conseqüência estes tem dificuldade em ingressar no mercado de trabalho. A qualificação permite ensinar uma profissão a estes, o que colabora para o distanciamento da criminalidade, já que tem maiores possibilidades de inserção no mundo do trabalho. O projeto possibilita o conhecimento dos vários tipos de massas, recheios e ingredientes para a fabricação de pães, doces, salgados, bolos e tortas específicas, qualificando os alunos a trabalhar em padarias, lanchonetes, bufes, casas de confeitarias e pastelarias.
          </p>

          <p>
            Com o passar dos anos, a nomenclatura dos serviços modificou, mas, a CVM sempre teve a preocupação de utilizar como estratégia de Inclusão Social os cursos profissionalizantes.
          </p>

          <br/>
          <br/>
          <h3> <strong>
            PÚBLICO ALVO
          </strong> </h3>

          <p>
            Adolescentes acima de 16 anos e adultos
          </p>

          <br/>
          <br/>
          <h3> <strong>
            CAPACIDADE DE ATENDIMENTO
          </strong> </h3>

          <p>
            Para 2015 a estimativa de atendimento é de:
          </p>

          <p>
            a - OFICINA DE MANUTENÇÃO DE COMPUTADORES = 40 Alunos
          </p>

          <p>
            b - OFICINA DE INCLUSÃO DIGITAL = 280 Alunos
          </p>

          <p>
            c - OFICINA DE PANIFICAÇÃO = 15 Alunos
          </p>

          <h4> <strong>
            OBJETIVOS
          </strong>  </h4>

          <h4> <strong>
            OBJETIVO GERAL
          </strong>  </h4>

          <p>
            Fortalecer a função produtiva das famílias atendidas, bem como promover o desenvolvimento da autonomia, empreendedorismo e inclusão social das mesmas.
          </p>

          <br/>
          <br/>
          <h3> <strong>
            OBJETIVOS ESPECÍFICOS
          </strong> </h3>

          <p>
            Desenvolver projetos de qualificação profissional, como estratégia para inserção no mundo do trabalho;
          </p>

          <p>
            Utilizar os momentos de qualificação profissional como meio para desenvolver a cidadania e auto-estima do cidadão;
          </p>

          <p>
            Unir aos temas de qualificação profissional temas pertinentes a área, como segurança do trabalho e outros;
          </p>

          <p>
            Desenvolver o potencial dos participantes auxiliando os mesmos na construção de seus projetos de vida.
          </p>

          <p>
            Capacitar os cidadãos para que consigam se apresentar adequadamente numa entrevista de trabalho e informar os locais que podem procurar para serem encaminhados para as entrevistas.
          </p>


          <br/>
          <br/>
          <h3> <strong>
            METODOLOGIA
          </strong> </h3>

          <p>
            Atendimentos em grupo dirigido por um educador, ou instrutor técnico da área a ser trabalhada, interagindo com os conhecimentos e participação da equipe técnica da CVM, composta, por Assistente Social, Pedagoga, Nutricionista e Psicóloga.
          </p>

          <p>
            Atendimentos individuais com o Serviço Social quando necessário. Neste setor são feitos os encaminhamentos necessários;
          </p>

          <p>
            Os projetos são construídos com os próprios participantes durante os cursos oferecidos, onde cada um tem espaço para colocar suas opiniões e sugestões.
          </p>

          <p>
            Para a implantação de novos projetos sempre são avaliadas as experiências anteriores, os indicadores sociais e as solicitações dos usuários.
          </p>

          <br/>
          <br/>
          <h3> <strong>
            AVALIAÇÃO E MONITORAMENTO
          </strong> </h3>

          <p>
            Cada projeto desenvolvido pelo Serviço de Inclusão produtiva terá método avaliativo próprio, definido pela equipe técnica.
          </p>

          <h4> <strong>
            a - OFICINA DE MANUTENÇÃO DE COMPUTADORES
          </strong>  </h4>

          <h3> <strong>
            DESCRIÇÃO
          </strong> </h3>

          <p>
            O Projeto de Manutenção de Computadores trata-se de uma das estratégias do Serviço de Inclusão Produtiva do CAS-CVM para 2015, que buscará por meio do curso de Iniciação Profissional em Manutenção de Computadores, oportunizar aos jovens e adultos, conhecimentos básico para o inserção no mercado do trabalho na área da informática, ou redefinição de seus projetos de vida.
          </p>

          <h3> <strong>
            JUSTIFICATIVA
          </strong> </h3>

          <p>
            Considerando que a Inclusão Produtiva da CVM trata-se de uma ferramenta que tem objetivos que vão muito além do mero treinamento profissional, cujo foco, é o resgate da dignidade da pessoa humana.
          </p>

          <p>
            Este projeto, busca por meio do curso de iniciação profissional, oportunizar espaços de troca, sobre direito e cidadania e fortalecer a função produtiva das famílias.
          </p>

          <h3> <strong>
            PÚBLICO ALVO
          </strong> </h3>

          <p>
            Jovens a partir dos 16 anos, adultos e idosos.
          </p>

          <h3> <strong>
            CAPACIDADE DE ATENDIMENTO
          </strong> </h3>

          <p>
            Total de alunos atendidos no ano: 40.
          </p>

          <p>
            Sendo 20 alunos no primeiro semestre e 20 alunos no 2º semestre.
          </p>

          <p>
            Serão 02 turmas por semestre, cada turma com no máximo 10 alunos.
          </p>

          <h3> <strong>
            OBJETIVO
          </strong> </h3>

          <p>
            Propiciar ao cidadão atendido, aulas sobre os conhecimentos básicos para iniciação profissional em manutenção de computadores, como intervenção incentivadora e viabilizadora da inserção no mundo do trabalho, bem como a inclusão social.
          </p>

          <h3> <strong>
            METODOLOGIA
          </strong> </h3>

          <p>
            Aulas práticas e expositivas, por meio de sala de recursos adaptadas para o tipo de curso oferecido.
          </p>

          <h4> <strong>
            b - OFICINA DE INCLUSÃO DIGITAL
          </strong>  </h4>

          <h3> <strong>
            DESCRIÇÃO
          </strong> </h3>

          <p>
            Trata de uma das estratégias do Serviço de Inclusão Produtiva do CAS-CVM, que buscará por meio do curso de Informática Básica oportunizar a crianças, jovens a adultos e idosos, incluir socialmente está demanda, utilizando os recursos da informática para tratar de assunto que fortaleçam a garantia de direitos por parte dos usuários.
          </p>

          <h3> <strong>
            JUSTIFICATIVA
          </strong> </h3>

          <p>
            Considerando que uma das grandes questões sociais pertinentes em nosso país é o analfabetismo, o Projeto de Inclusão Digital ( Curso de Informática Básica) propiciará além da alfabetização digital básica, a utilização dos recursos da informática para que o usuário possa acessar informações sobre seus direitos sociais, bem como poderá usufruir dos recursos aprendidos para sua inserção no mercado de trabalho, para aqueles que tem este como seu maior objetivo. Além do temas relacionados à informática, serão trabalhados temas sobre Desenvolvimento Pessoal e Cidadania.
          </p>

          <h3> <strong>
            PÚBLICO ALVO
          </strong> </h3>

          <p>
            Crianças a partir de 04 anos, jovens, adultos e idosos.
          </p>

          <h3> <strong>
            CAPACIDADE DE ATENDIMENTO
          </strong> </h3>

          <p>
            Adolescentes e Adultos: 06 turmas com 10 alunos em cada uma.
          </p>

          <p>
            Crianças: 08 turmas com 10 alunos em cada turma.
          </p>

          <p>
            No primeiro semestre serão atendidos 140 alunos, e no segundo semestre serão atendidos mais 140 alunos.
          </p>

          <p>
            Total: 280 alunos atendidos em 2015.
          </p>

          <h3> <strong>
            OBJETIVO
          </strong> </h3>

          <p>
            Incluir o cidadão atendido na alfabetização digital, propiciando a este os conhecimentos básicos de como esta tecnologia poderá viabilizar a garantia de seus direitos bem como a inclusão social.
          </p>

          <h3> <strong>
            METODOLOGIA
          </strong> </h3>

          <p>
            Aulas práticas e expositivas, por meios de sala de recursos adaptadas para o tipo de curso oferecido.
          </p>

          <h4> <strong>
            c - OFICINA DE PANIFICAÇÃO (INCLUSÃO PRODUTIVA)
          </strong> </h4>

          <h3> <strong>
            METODOLOGIA
          </strong> </h3>

          <p>
            Aulas práticas e expositivas, por meios de sala de recursos adaptadas para o tipo de curso oferecido.
          </p>

          <h3> <strong>
            DESCRIÇÃO
          </strong> </h3>

          <p>
            Trata-se de uma das estratégias do Serviço de Inclusão Produtiva do CAS-CVM, que buscará por meio do curso de Iniciação Profissional em Panificação, oportunizar aos jovens e adultos, a inclusão no mundo do trabalho, por meio do desenvolvimento das habilidades profissionais dos mesmos, ministrando temas que facilitarão a inserção no mundo do trabalho e a definição de novos projetos de vida.
          </p>

          <h3> <strong>
            JUSTIFICATIVA
          </strong> </h3>

          <p>
            A Oficina “Panificação” surge da percepção da necessidade social e econômica das famílias que residem no Bairro Ipiranga e arredores, no município de São José, notadamente carentes. Muitas destas famílias apresentam dificuldades financeiras, que impossibilitam a participação de cursos profissionalizantes.
          </p>

          <p>
            Nossa meta é que este programa de qualificação possa fornecer as ferramentas necessárias para o bom desempenho dos mesmos não só no mercado de trabalho, mas também na vida pessoal e como cidadãos brasileiros.
          </p>

          <p>
            O projeto irá possibilitar o conhecimento dos vários tipos de massas, recheios e ingredientes para a fabricação de Paes, doces, salgados, bolos e tortas específicas.
          </p>

          <p>
            Qualificando os usuários a trabalhar em padarias, lanchonetes, buffets, casas de confeitarias e pastelarias, bem como conhecimentos básicos em manipulação de alimentos e segurança do trabalho em padaria.
          </p>

          <p>
            As produções, doces, pães, tortas entre outros, serão utilizadas para o consumo das pessoas atendidas em todos nos programas da CVM.
          </p>

          <h3> <strong>
            PÚBLICO ALVO
          </strong> </h3>

          <p>
            Jovens acima de 16 anos, adultos e idosos.
          </p>

          <h3> <strong>
            CAPACIDADE DE ATENDIMENTO
          </strong> </h3>

          <p>
            Total de alunos em 2015: 20
          </p>

          <h3> <strong>
            OBJETIVO
          </strong> </h3>

          <p>
            Inclusão Social e preparação para o mundo do trabalho, por meio de conhecimentos sobre a panificação, manipulação de alimentos e segurança do trabalho em padaria.
          </p>

          <h3> <strong>
            METODOLOGIA
          </strong> </h3>

          <p>
            Aulas práticas e expositivas, por meios de sala de recursos adaptadas para o tipo de curso oferecido.
          </p>


        </div>
      </div>
    </div>
  </div>
</div>
