<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu" class="col-1">
    <mat-icon>menu</mat-icon>
    <span>Menu</span>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon>
      <span>Dashborad</span>
    </button>
    <button mat-menu-item routerLink="/noticia">
      <mat-icon>forum</mat-icon>
      <span>Noticia</span>
    </button>
    <button mat-menu-item routerLink="/transparencia">
      <mat-icon>contactless</mat-icon>
      <span>Transparencia</span>
    </button>
    <button mat-menu-item routerLink="/agenda">
      <mat-icon>calendar_today</mat-icon>
      <span>Agenda</span>
    </button>
    <button mat-menu-item routerLink="/index">
      <mat-icon>exit_to_app</mat-icon>
      <span>Sair </span>
    </button>
  </mat-menu>
  <div class="col-9"></div>
  <button class="col-2" style="color: white; text-align: right" mat-menu-item routerLink="/dashboard">
    <mat-icon style="color: white">admin_panel_settings</mat-icon>
    <span>Painel de Controle</span>
  </button>
</mat-toolbar>
