<div class="container">
  <div class="row">
    <h1 class=""><br/><strong>AJUDE</strong></h1>

        <div class="paragrafo">
          <p>
            <strong>1. AJUDE/ Através da Conta de Energia Elétrica:<br>
            <br>
            CELESC ou Conta de Telefone OI<br>
            <br>
            SAC Call Center: 48-3246-9908/ callcentercvm@floripa.com.br<br>
              <br></strong>
            Com o objetivo de manter e ampliar os projetos que são oferecidos gratuitamente à comunidade carente, queremos convidar você e sua família a fazer parte desta grande trabalho. Participe você também da campanha beneficente realizada pela <strong>CVM</strong> – Creche Vinde a Mim as Criancinhas, pois crianças, adolescentes, adultos e famílias dependem do seu carinho e de sua solidariedade como força para a transformação social.
            <br>
            <br>
            Amigo (a), ao receber uma ligação de nossas operadoras, não desligue o telefone, com sua ajuda estaremos proporcionando ás crianças, adolescentes, adultos e famílias atendidas, novas oportunidades de assegurar a dignidade, a valorização e o resgate  de novos valores.
            <br>
            <br>
            Para sua segurança, a ligação é gravada.
            <br>
            <br>
            O valor doado é totalmente espontâneo, você escolhe o valor da sua contribuição (não tem mínimo e nem máximo), e vem descrito na sua fatura de energia elétrica da <strong>Celesc</strong>, ou na conta de telefone <strong>OI</strong>, com todos os dados da entidade (nome, telefone).
            <br>
            <br>
            Você poderá ainda efetuar o cancelamento da sua doação assim que desejar, pois o cancelamento é efetuado na mesma hora.
            <br>
            <br>
            Se preferir, entre em contato com a nossa Central de Atendimento (48) 3246-9908 para maiores informações, ou através da própria <strong>Celesc</strong> e <strong>OI</strong>.
            <br>
            <br>


            <strong>2. AJUDE Sendo um (a) voluntário (a):
            <br>
            <br>
            A Importância do Voluntário
            <br>
              <br></strong>
            Nas cidades, nos bairros, nas ONGs, nos grupos de auto ajuda, nos clubes, nas associações culturais e esportivas, nas instituições e nas empresas, milhões de pessoas ajudam umas as outras, ajudam a quem está em situação mais difícil, e realizam atividades que beneficiam sua comunidade, seu país e nosso planeta. Muitas vezes essas pessoas nem sabem que são voluntárias.
            <br>
            <br>
            POR ISSO O VOLUNTÁRIO MERECE SER VALORIZADO, DIVULGADO E FORTALECIDO.
            <br>
            <br>
            <strong>Quem é o voluntário?
            <br>
            <br>
              VOLUNTÁRIO </strong>É AQUELE QUE DEDICA SEU TEMPO, TRABALHO E TALENTO ESPONTANEAMENTE E SEM REMUNERAÇÃO, A CAUSAS DE INTERESSE SOCIAL E COMUNITÁRIO.
            <br>
            <br>
            <strong>O VOLUNTARIADO</strong> É SOLIDARIEDADE E AJUDA A QUEM PRECISA, MAS TAMBÉM É DEFESA DA NATUREZA E DO MEIO AMBIENTE, CULTURA, ESPORTE, LAZER E DIVERSÃO. É AÇÃO DIRETA DE SOCORRO, MAS TAMBÉM REINVIDICA E LUTA POR UMA CAUSA.
            <br>
            <br>
            <strong>Lei do voluntário</strong>
            <br>
            <br>
            A Lei 9.608/98 regularizou a relação de trabalho voluntário no Brasil, demonstrando sua possibilidade ao poder judiciário e às delegacias do trabalho que, frequentemente demonstravam-se surpresas com esse tipo de contrato.
            Dada à existência de diferentes formas de voluntariado e de voluntários de diferentes matrizes, a lei foi importante para legitimar a relação entre voluntários e entidades sociais, e prevenir problemas para ambas as partes.
            <br>
            <br>
            A lei opta por caracterizar o trabalho voluntário de forma bastante simples, como uma relação em que está ausente a remuneração. Lei Nº 9.608, de 18 de Fevereiro de 1998.
            <br>
            <br>
            <strong>Seja você também um Voluntário
            <br>
            <br>
            Você está disposto a ser um voluntário. Nós precisamos do seu trabalho.
            <br>
            <br>
              Entre em contato conosco, através do 48-3357-9400, teremos o maior prazer em atendê-lo.</strong>
            <br>
            <br>


            <strong>3. AJUDE através do Pag Seguro:</strong>
            <br>
            <br>
            Na página inicial do site por meio de cartão de crédito.
            <br>
            <br>

            <strong>4. AJUDE Sendo um (a) Mantenedor (a):</strong>
            <br>
            <br>
            Caso você tenha interesse em ser um (a) mantenedor (a) da Instituição, enviamos em seu endereço um carnê, e você pagara em qualquer banco, um valor de acordo com suas condições.
            <br>
            <br>


            <strong>5. AJUDE Doando:</strong>
            <br>
            <br>
            Alimentos/Roupas/Calçados/Produtos de Limpeza/Produtos de higiene pessoal/Material de Escritório/Utensílios em geral/Móveis e afins, etç.
            <br>
            <br>


            <strong>6. AJUDE Orando pelo trabalho:</strong>
            <br>
            <br>
            Orar pela equipe e principalmente pelas crianças, adolescentes, adultos e famílias atendidas. Pedimos também, que orem pela diretoria e funcionários, pedindo unção e discernimento para tomada de decisões em favor de todos os atendidos.
            <br>
            <br>

            <strong>7. AJUDE Divulgando o trabalho:</strong>
            <br>
            <br>
            Faça parte você também desta grande família, divulgue o trabalho da CVM. Participe de campanhas, e venha visitar, você será muito bem vindo.
            <br>
            <br>


            <strong>8. AJUDE Contribuindo Financeiramente:</strong>
            <br>
            <br>
            Banco do Brasil
            <br>
            Agência 5248-5
            <br>
            Conta Corrente: 90246-2
            <br>
            <br>
          </p>
          <p align="center"><strong>Como está escrito: “O que muito colheu, não teve demais; e o que pouco, não teve falta.” II Coríntios 8:15</strong></p>
        </div>
  </div>
</div>

<br/>
<br/>
<br/>
<div class="container">
  <div class="row">
    <div class="col-6">
      <img src="assets/img/ajude.png">
    </div>
    <div class="col-3">
      <a href="//pagseguro.uol.com.br/checkout/nc/nl/donation/sender-identification.jhtml?t=bc36a54985ab5a21ae412243be333d83f44e97b40fff4eba&e=true#rmcl"><img src="assets/img/Logo_PagSeguro.png" width="70%" height="80%"></a>
    </div>
    <div class="col-3">
      <a href="//www.paypal.com/donate?token=bET5z--lmJFJM3tnM1IdJ3ilERrmLV5pInDnAAlAFHQV760zpgqCYji1jlnfIy5ovUD5cvkx_GbpHy8U"><img src="assets/img/paypal-logo-2.png" width="70%" height="70%"></a>
    </div>
  </div>
</div>

