<br/>
<div class="container">
  <div style="text-align: center;">
    <img src="assets/img/601b731f-679c-41d6-8da3-0a776ec79bcc.png" width="90%">
  </div>
</div>


<div class="container">
  <div class="row">
    <h1>
      <br/>
      <strong>ACOLHIMENTO INSTITUCIONAL - CASA LAR</strong>
    </h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <h3><strong>
      ATIVIDADES PARALISADAS - ACOLHIMENTO INSTITUCIONAL
    </strong></h3>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="paragrafo">
      <p>
        A Casa Acolhedora "Dona Jandira Jovita da Rosa", foi fundada em 10 de Março de 1986. No início era
        chamada de Orfanato, com o advento do ECA passou a se chamar de Casa Lar e hoje é chamado de Acolhimento
        Institucional, é mais um projeto social mantido pela CVM - Creche Vinde a Mim as Criancinhas. Atende
        crianças e adolescentes de 3 a 12 anos de idade, em situação de risco, vítima de maus tratos e abandono,
        em regime de abrigo (24 horas por dia). São encaminhadas pelo Conselho Tutelar ou pela Vara da Infância e
        Juventude. A Casa Acolhedora é uma medida de proteção, regulamentada pela ECA Estatuto da Criança e do
        Adolescente, está registrada no CMDCA Conselho Municipal da Criança e do Adolescente do Município de São
        José / SC. Tem capacidade para 30 crianças e adolescentes. Aqui as crianças adaptam amor, carinho, atenção,
        suporte psicológico, educação, alimentação, entre outros. A Casa Acolhedora surgiu para atender uma demanda
        emergente no estado de Santa Catarina, que eram e são até hoje como crianças e os adolescentes que se
        referiram em situação de risco social. Atualmente a Casa Acolhedora atende somente crianças encaminhadas
        pelo Juizado da Infância e Juventude e Conselho Tutelar…
      </p>
    </div>
  </div>
</div>

<br/>
<br/>
<br/>
<div class="container">
  <div class="row">
    <div class="col-6">
      <img src="assets/img/ajude.png">
    </div>
    <div class="col-3">
      <a href="//pagseguro.uol.com.br/checkout/nc/nl/donation/sender-identification.jhtml?t=bc36a54985ab5a21ae412243be333d83f44e97b40fff4eba&e=true#rmcl"><img src="assets/img/Logo_PagSeguro.png" width="70%" height="80%"></a>
    </div>
    <div class="col-3">
      <a href="//www.paypal.com/donate?token=bET5z--lmJFJM3tnM1IdJ3ilERrmLV5pInDnAAlAFHQV760zpgqCYji1jlnfIy5ovUD5cvkx_GbpHy8U"><img src="assets/img/paypal-logo-2.png" width="70%" height="70%"></a>
    </div>
  </div>
</div>
