<div class="container">
  <div class="row">
    <h1>
      ACOLHIMENTO INSTITUCIONAL - CASA LAR
    </h1>
<br>
    <h3>
      ATIVIDADES PARALISADAS - ACOLHIMENTO INSTITUCIONAL
    </h3>
    <div class="paragrafo">
    <p>
      A Casa Acolhedora "Dona Jandira Jovita da Rosa", foi fundada em 10 de Março de 1986. No início era
      chamada de Orfanato, com o advento do ECA passou a se chamar de Casa Lar e hoje é chamado de Acolhimento
      Institucional, é mais um projeto social mantido pela CVM - Creche Vinde a Mim as Criancinhas. Atende
      crianças e adolescentes de 3 a 12 anos de idade, em situação de risco, vítima de maus tratos e abandono,
      em regime de abrigo (24 horas por dia). São encaminhadas pelo Conselho Tutelar ou pela Vara da Infância e
      Juventude. A Casa Acolhedora é uma medida de proteção, regulamentada pela ECA Estatuto da Criança e do
      Adolescente, está registrada no CMDCA Conselho Municipal da Criança e do Adolescente do Município de São
      José / SC. Tem capacidade para 30 crianças e adolescentes. Aqui as crianças adaptam amor, carinho, atenção,
      suporte psicológico, educação, alimentação, entre outros. A Casa Acolhedora surgiu para atender uma demanda
      emergente no estado de Santa Catarina, que eram e são até hoje como crianças e os adolescentes que se
      referiram em situação de risco social. Atualmente a Casa Acolhedora atende somente crianças encaminhadas
      pelo Juizado da Infância e Juventude e Conselho Tutelar…
    </p>
  </div>
  </div>
</div>
