<!-- Footer -->
<footer class="footer page-footer font-small mdb-color lighten-3 pt-4">
  <div class="container text-center text-md-left" style="background: lightyellow">
    <div class="row">
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
        <h5 class="font-weight-bold text-uppercase mb-4">A CVM</h5>
        <p>Entidade filantrópica assistencial sem fins lucrativos, declarada de utilidade pública pelo Governo
          Municipal, Estadual e Federal, esta registrada no Conselho Nacional de Assistência Social e possui Certificado
          de Filantropia.</p>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
        <h5 class="font-weight-bold text-uppercase mb-4">Sobre</h5>
        <ul class="list-unstyled">
          <li>
            <p>
              <a href="#!">PROJETOS</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">SOBRE</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">NOTICIAS</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">TRANSPARENCIA</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">AGENDA</a>
            </p>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
        <h5 class="font-weight-bold text-uppercase mb-4">Endereço</h5>
        <ul class="list-unstyled">
          <li>
            <p>
              <mat-icon>home</mat-icon> <a href="https://www.google.com/maps/place/R.+Otto+J%C3%BAlio+Malina,+1306+-+Ipiranga,+S%C3%A3o+Jos%C3%A9+-+SC,+88111-500/@-27.5663377,-48.6293498,17z/data=!3m1!4b1!4m5!3m4!1s0x9527499b68b1d6e7:0x2d962f5d7839b66b!8m2!3d-27.5663377!4d-48.6271611"> R. Otto Júlio Malina, 1306 - Ipiranga, São José - SC, 88111-500</a>
            </p>
          </li>
          <li>
            <p>
              <mat-icon>email</mat-icon> comunicacaosocialcvm@
                                              floripa.com.br
            </p>
          </li>
          <li>
            <p>
              <mat-icon>phone</mat-icon>
              (48) 3357-9400
            </p>
          </li>
          <li>
            <p>
              <mat-icon>phone</mat-icon>
              (48) 3357-9400
            </p>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none">
    </div>
  </div>
  <div class="footer-copyright text-center py-3" style="background: #3f51b5; color: white">©Copyright 2020 CVM.org
    <br/><a>Desenvolvido por alunos do curso de Bacharelado em Ciência da Computação do <strong>IESGF</strong></a>
  </div>
</footer>


